body {
    background-color: #F0B27A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}

#calcTitle {
    font-size: 45px;
    margin-left: 40px;
    margin-bottom: 0px;
}

#usernameBlock {
    font-size: 30px;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
}

#cancelBlock {
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
}

#spendingsAddButton {
    font-size: 20px;
    text-align: center;
    color: #6E2C00;
    background-color: white;
    border: 2px solid #6E2C00;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
    height: 50px;
    width: 200px;
    position: fixed;
    bottom: 30px;
    left: 40px;
}

#spendingsAddButton:hover {
    background-color: #6E2C00;
    color: white;
}

#spendingName {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 25px;
    border-radius:10px;
    padding-left: 10px;
}

#spendingCost {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 25px;
    border-radius:10px;
    padding-left: 10px;
}

#spendingNameBlock {
    padding: 10px;
    font-size: 20px;
}

#spendingCostBlock {
    padding: 10px;
    font-size: 20px;
    width: 300px;
}

#spendingsAddBlock {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}